@font-face {
    font-family: 'HeirofLight';
    font-style: normal;
    font-weight: normal;
    src: url("../assets/font/heiroflight_fonts/빛의\ 계승자\ Regular/") format("truetype");
  }
body, #root {
  margin: 0;
  padding: 0;
}
.singleplay-container{
    width: 1536px;
    height: 747px;
    font-family: 'HeirofLight';
    background-color: #240903;
    color: #FBCB73;
    position: relative;
}

.logo {
    width: 300px;
    height: auto;
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 0;
  }

  .interface-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column; /* 요소를 수직으로 배치 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center;    /* 가로 중앙 정렬 */
  }